<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.UserMapper">
	<!-- 회원가입 -->
	<!-- int insertUser(User user) -->
	<insert id="insertUser" parameterType="com.example.app.domain.UserDomain">
		INSERT INTO user(
			username, password, role
		) VALUES (
			#{username}, #{password}, #{role}
		)
	</insert>
	
	<!-- 회원가입 username 중복확인 -->
	<!-- User selectUserByName(String username) -->
	<select id="selectUserByname" parameterType="String" resultType="com.example.app.domain.UserDomain">
		SELECT * FROM user
		WHERE username = #{username}
	</select>
</mapper>